version: '3.8'

services:
  backend:
    build: .
    container_name: user-auth-backend
    ports:
      - "8010:8000"
    env_file:
      - .env
      
    volumes:
      - .:/app
      
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
